<!DOCTYPE html>
<html>

<head>
    <title>TechLab IDE</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
</head>

<body>
    <div ng-app="TechLabIDE" ng-controller="Ctrl" ng-init="init();">
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="height:85px">
                <div style="" class="navbar-header">
                    <a style="padding:0 15px; line-height:85px;" class="navbar-brand">TechLab IDE</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="padding:0 15px; line-height:85px;">
                    <ul class="nav navbar-nav">
                        <li>
                            <div class="btn-group">
                                <button type="button" style="height:75px" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Файл 
                        <span class="caret"></span>
                        </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#" data-ng-click="new_onClick()">Новый</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" data-ng-click="open_onClick()">Открыть</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" data-ng-click="savecode_onClick()">Сохранить код</a></li>
                                    <li><a href="#" data-ng-click="saveblocks_onClick()">Сохранить блоки</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#" data-ng-click="set_onClick()">Настройки</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="divider">
                            <a></a>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button class="btn btn-primary" style="height:75px" data-ng-click="compile()">
                                    <img src="media/icons/check_code.png"/>
                                    <p style="color:black;">Проверить</p>
                                </button>
                                <button class="btn btn-warning" style="height:75px" data-ng-click="upload()">
                                    <img src="media/icons/upload_code.png"/>
                                    <p style="color:black;">Загрузить</p>
                                </button>
                            </div>
                        </li>
                        <li class="divider">
                            <a></a>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="media/icons/usb_m.png"/>
                                Порт: {{port}} 
                                <span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="i in ports">
                                        <a data-ng-click="setPort(i)" ng-bind="i" href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="media/icons/memory_m.png"/>
                                Плата: {{board}}
                                <span class="caret"></span>
                            </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="i in boards">
                                        <a data-ng-click="setBoard(i)" ng-bind="i" href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <button class="btn btn-default " style="height:75px" data-ng-click="terminal()">
                                <img src="media/icons/terminal.png"/>
                                <p>Терминал</p>
                            </button>
                        </li>
                        <li style="margin-right: 5px; margin-left: 15px;">
                            <img src="media/icons/power_plug_off.png" />
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="main.js" type="text/javascript"></script>

</html>